Extracting and Visualizing Stock Data

In [3]:
!pip install yfinance==0.2.38
!pip install pandas==2.2.2
!pip install nbformat

Requirement already satisfied: yfinance==0.2.38 in c:\users\msi modern\anaconda3\lib\site-packages (0.2.38)
Requirement already satisfied: pandas>=1.3.0 in c:\users\msi modern\anaconda3\lib\site-packages (from yfinance==0.2.38) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in c:\users\msi modern\anaconda3\lib\site-packages (from yfinance==0.2.38) (1.26.4)
Requirement already satisfied: requests>=2.31 in c:\users\msi modern\anaconda3\lib\site-packages (from yfinance==0.2.38) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\msi modern\anaconda3\lib\site-packages (from yfinance==0.2.38) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\msi modern\anaconda3\lib\site-packages (from yfinance==0.2.38) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\msi modern\anaconda3\lib\site-packages (from yfinance==0.2.38) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in c:\users\msi modern\anaconda3\lib\site-packages (from yfinance==0.2.38) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\msi modern\anaconda3\lib\site-packages (from yfinance==0.2.38) (2.4.4)
Requirement already satisfied: peewee>=3.16.2 in c:\users\msi modern\anaconda3\lib\site-packages (from yfinance==0.2.38) (3.17.6)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\msi modern\anaconda3\lib\site-packages (from yfinance==0.2.38) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in c:\users\msi modern\anaconda3\lib\site-packages (from yfinance==0.2.38) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\msi modern\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance==0.2.38) (2.5)
Requirement already satisfied: six>=1.9 in c:\users\msi modern\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance==0.2.38) (1.16.0)
Requirement already satisfied: webencodings in c:\users\msi modern\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance==0.2.38) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\msi modern\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance==0.2.38) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\msi modern\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance==0.2.38) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\msi modern\anaconda3\lib\site-packages (from requests>=2.31->yfinance==0.2.38) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\msi modern\anaconda3\lib\site-packages (from requests>=2.31->yfinance==0.2.38) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\msi modern\anaconda3\lib\site-packages (from requests>=2.31->yfinance==0.2.38) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\msi modern\anaconda3\lib\site-packages (from requests>=2.31->yfinance==0.2.38) (2024.2.2)
Requirement already satisfied: pandas==2.2.2 in c:\users\msi modern\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\msi modern\anaconda3\lib\site-packages (from pandas==2.2.2) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\msi modern\anaconda3\lib\site-packages (from pandas==2.2.2) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\msi modern\anaconda3\lib\site-packages (from pandas==2.2.2) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\msi modern\anaconda3\lib\site-packages (from pandas==2.2.2) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\msi modern\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas==2.2.2) (1.16.0)
Requirement already satisfied: nbformat in c:\users\msi modern\anaconda3\lib\site-packages (5.9.2)
Requirement already satisfied: fastjsonschema in c:\users\msi modern\anaconda3\lib\site-packages (from nbformat) (2.16.2)
Requirement already satisfied: jsonschema>=2.6 in c:\users\msi modern\anaconda3\lib\site-packages (from nbformat) (4.19.2)
Requirement already satisfied: jupyter-core in c:\users\msi modern\anaconda3\lib\site-packages (from nbformat) (5.5.0)
Requirement already satisfied: traitlets>=5.1 in c:\users\msi modern\anaconda3\lib\site-packages (from nbformat) (5.7.1)
Requirement already satisfied: attrs>=22.2.0 in c:\users\msi modern\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\msi modern\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\msi modern\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\msi modern\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat) (0.10.6)
Requirement already satisfied: platformdirs>=2.5 in c:\users\msi modern\anaconda3\lib\site-packages (from jupyter-core->nbformat) (3.10.0)
Requirement already satisfied: pywin32>=300 in c:\users\msi modern\anaconda3\lib\site-packages (from jupyter-core->nbformat) (305.1)

In [4]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [5]:
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

Define Graphing Function

In [6]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

Use yfinance to Extract Stock Data

Using the Ticker function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is Tesla and its ticker symbol is TSLA

In [7]:
tsla = yf.Ticker("TSLA")
tesla_data = tsla.history(period="max")

In [8]:
tesla_data.reset_index(inplace=True)
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

Use Webscraping to Extract Tesla Revenue Data

In [9]:
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm'
response = requests.get(url)

In [10]:
html_data = response.content
soup = BeautifulSoup(html_data, 'html.parser')

In [11]:
tables = soup.find_all('table')
rows_list = []
# Loop through tables to find the relevant one
for table in tables:
    if "Tesla Quarterly Revenue" in table.get_text():
        # Find all rows in the table
        rows = table.find_all('tr')
        
        # Loop through rows
        for row in rows:
            columns = row.find_all('td')
            if len(columns) == 2:
                date = columns[0].text.strip()
                revenue = columns[1].text.strip()
                
                # Clean the revenue data
                revenue = revenue.replace('$', '').replace(',', '')
                
                # Append the data to the list
                rows_list.append({'Date': date, 'Revenue': revenue})
tesla_revenue = pd.DataFrame(rows_list)

In [12]:
tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"")

In [13]:
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

In [14]:
tesla_revenue.tail()

          Date Revenue
48  2010-09-30      31
49  2010-06-30      28
50  2010-03-31      21
52  2009-09-30      46
53  2009-06-30      27

Use yfinance to Extract Stock Data

Using the Ticker function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is GameStop and its ticker symbol is GME

In [15]:
gme = yf.Ticker("GME")
gme_data = gme.history(period="max")

In [16]:

gme_data.reset_index(inplace=True)
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620128,1.693350,1.603296,1.691666,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683251,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615921,1.662210,1.603296,1.662210,6892800,0.0,0.0

Use Webscraping to Extract GME Revenue Data

In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"
response = requests.get(url)
html_data_2 = response.text

soup = BeautifulSoup(html_data_2, 'html.parser')

gme_revenue = pd.DataFrame(columns=['Date', 'Revenue'])
for row in soup.find_all('tbody')[1].find_all('tr'):
    col = row.find_all('td')
    Date = col[0].text
    Revenue = col[1].text
    gme_revenue = gme_revenue.append({'Date': Date, 'Revenue': Revenue}, ignore_index=True)

gme_revenue["Revenue"] = gme_revenue['Revenue'].str.replace(',|\$', "", regex=True)
gme_revenue.dropna(inplace=True)
gme_revenue = gme_revenue[gme_revenue['Revenue'] != ""]

AttributeError: 'DataFrame' object has no attribute 'append'

In [ ]:
gme_revenue.dropna(inplace=True)
gme_revenue.tail()

Plot Tesla Stock Graph

In [ ]:
tesla_revenue = pd.DataFrame({
    'Date': ['2021-01-01', '2021-04-01', '2021-07-01'],
    'Revenue': [1000, 1100, 1200]
})
tesla_revenue['Date'] = pd.to_datetime(tesla_revenue['Date'])

# Call the make_graph function with Tesla data
make_graph(tesla_data, tesla_revenue, 'Tesla')

Plot GameStop Stock Graph

In [ ]:
make_graph(gme_data, gme_revenue, 'GameStop')